@model Bloghost.Web.Models.RegisterModel

@{
    ViewBag.Title = "Add User";
}

@section Header
{
    <div id="header">
		<h1 class="title">Add User</h1>
	</div>
} 
<div class="form-block">
    <p style="color: #f00"><i>Passwords are required to be a minimum of <b>@Membership.MinRequiredPasswordLength</b> characters in length.</i></p>

    @using (Html.BeginForm("AddUser", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
        <div>
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.Name)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.Surname)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Surname)
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.UserName)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.Email)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.Password)</b>
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.ConfirmPassword)</b>
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.Image)</b>
            </div>
            <div class="editor-field">
                <input type="file" name="Image" id="Image" class="form-control" accept="image/jpeg" /> 
                @Html.ValidationMessageFor(m => m.Image) 
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.BlogName)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.BlogName)
                @Html.ValidationMessageFor(m => m.BlogName)
            </div>
            <br />
            <div class="editor-label">
                <b>@Html.LabelFor(m => m.BlogSubtitle)</b>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.BlogSubtitle)
                @Html.ValidationMessageFor(m => m.BlogSubtitle)
            </div>
            <br />
            <p>
                <input type="submit" value="Add user" class="button" />
            </p>
        </div>
    }
</div>